@namespace FxNyaa

<!DOCTYPE html>
<html lang="en">
<!-- Hello from FxNyaa! -->
<head>
    <title>FxNyaa</title>
    <meta property="og:title" content="FxNyaa"/>
    <meta property="og:description" content="Fixing torrent embeds isn't supported by this tool at the moment.
                                             If you meant to embed a comment, replace the hashtag (#) with a forward slash (/); FxNyaa can't tell which comment to embed otherwise."/>
    <meta property="theme-color" content="#0085ff"/>
</head>
<body></body>
</html>